<div class="row">
	<div class="reveal">
		<div class="slides"> 
			<section id="secmd" data-markdown="{{about.marky}}" data-separator="^\n---" data-separator-vertical="^\n--"></section>
			<section>
				<h2>Tabular Data</h2>		
					<table class="table-reveal table-responsive">
						<thead>
							<tr>
								<th>A</th>
								<th>B</th>
								<th>C</th>
								<th>D</th>
								<th>E</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>qwe</td>
								<td>sdf</td>
								<td>sdvew</td>
								<td>awdqw</td>
								<td>fvwefw</td>
							</tr>
							<tr>
								<td>qwe</td>
								<td>sdf</td>
								<td>sdvew</td>
								<td>awdqw</td>
								<td>fvwefw</td>
							</tr>
							<tr>
								<td>qwe</td>
								<td>sdf</td>
								<td>sdvew</td>
								<td>awdqw</td>
								<td>fvwefw</td>
							</tr>
							<tr>
								<td>qwe</td>
								<td>sdf</td>
								<td>sdvew</td>
								<td>awdqw</td>
								<td>fvwefw</td>
							</tr>
						</tbody>
					</table>
			</section>
			<section>
				<h4>HC Sample</h4>
				<div id="hc-box" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto;">
					
				</div>
			</section>
		</div>
	</div>
</div>