<div class="row">

	<section class="content-header">
		<h1>
			Main Dashboard
			<small>High Level Overview</small>
		</h1>
	</section>

	<div class="row">
		<div class="dashboard-fluid">
			<div class="col-md-12 col-lg-4">
				<div class="panel-container">
					<div class="panel-head">
						<h3 class="panel-title">
							Title Here
						</h3>
						<div class="panel-ctrl">
							<button class="btn btn-panel" data-widget="collapse"><i class="fa fa-arrow-down"></i></button>
							<button class="btn btn-panel" data-widget="controls"><i class="fa fa-cog"></i></button>
						</div>
					</div>
					<div class="panel-content">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>