<div class="row animated slideInLeft">
	<div class="container home-wrapper">
		<div class="col-sm-6">
			<div class="panel mgb1">
				<div class="home-bg1"></div>
				<div class="panel-body" ui-tool-tip data-toggle="tooltip" data-placement="left" title="asdasd">
					<a class="panel-nav" ng-href="#/dashboard">Dashboard</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel b002 mgb1">
				<div class="home-bg2"></div>
				<div class="panel-body">
					<a class="panel-nav" ng-href="#/about">about</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel b003 mgb1">
				<div class="home-bg3"></div>
				<div class="panel-body">
					<a class="panel-nav" ng-href="#/">information</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel b004 mgb1">
				<div class="home-bg4"></div>
				<div class="panel-body">
					<a class="panel-nav" ng-href="#/">information</a>
				</div>
			</div>
		</div>
	</div>
</div>