<div class="row">
	<div class="col-sm-6">
		<table class="table-reveal table-responsive">
			<thead>
				<tr>
					<th>A</th>
					<th>B</th>
					<th>C</th>
					<th>D</th>
					<th>E</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<table class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th>A</th>
					<th>B</th>
					<th>C</th>
					<th>D</th>
					<th>E</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
				<tr>
					<td>qwe</td>
					<td>sdf</td>
					<td>sdvew</td>
					<td>awdqw</td>
					<td>fvwefw</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>