<div class="theme-changer" ng-class="{active:isActive}" ng-style="rightPos">
		<div class="theme-changer-icon"></div>
		<div class="form-holder">
				<div class="theme-style">
						<div class="styleswitch" rel="a" ><img alt="a" src="images/a.jpg"></div>
						<div class="styleswitch" rel="b" ><img alt="b" src="images/b.jpg"></div>
						<div class="styleswitch" rel="c" ><img alt="c" src="images/c.jpg"></div>
						<div class="styleswitch" rel="d" ><img alt="d" src="images/d.jpg"></div>
						<div class="styleswitch" rel="e" ><img alt="e" src="images/e.jpg"></div>
				</div>
		</div>
</div>